*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #1f1f1f;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.bg-image-1 {
  width: 100%;
  display: block;
  height: auto;
  background-image: url("./assets/Camada1.png");
  background-repeat: no-repeat;
  background-position: left;
}

.bg-image-2 {
  width: 100%;
  display: block;
  height: auto;
  background-image: url("./assets/Ellipse1.png");
  background-position: right;
  background-repeat: no-repeat;
  background-position: top;
}

.bg-image-3 {
  width: 100%;
  display: block;
  height: auto;
  background-image: url("./assets/Ellipse2.png");
  background-position: left;
  background-repeat: no-repeat;
}
